@model ClarkCodingChallenge.Models.Contact

@{
    ViewData["Title"] = "Submission Complete";
}

<div>Thank you, @Model.firstName! Your email (@Model.emailAddress) has been added to the mailing list.</div>

